.cripto-promo{
    padding:83px 0px 73px;
}
.cripto-title{
font-family: SF Pro Text;
font-size: 40px;
font-weight: 600;
color:#131313;
text-align: center;
margin-bottom:40px;
}
.price-text{
    text-align: center;
}
.cripto-table{
    margin:0 auto;
    border-collapse: collapse;
}

.cripto-cell{
    display: flex;
    align-items: center;
}
.cripto-text{
font-family: SF Pro Text;
font-size: 18px;
font-weight: 400;
color:#131313;
margin:0px 20px;
}
.cripto-text-center{
    padding-left:100px;
}
.color-green{
    color:#07A574;
}
.color-red{
    color:#EE0404;
}

.cripto-text-style{
font-family: SF Pro Text;
font-size: 20px;
font-weight: 600;
text-align: center;
}
.cripto-logo-name{
    color:#141416;
    margin-left:14px;
}
.cripto-price{
    color:#141416;
    margin:0px 70px;
}
td{
    padding:15px 0px 15px;
    border-bottom: 1px solid #D9D9D9;
}

/* .border{
    width: 100%;
    height: 1px;
    background: #c9c9c9;
    display:inline-block;
} */

.cripto-btn{
font-family: SF Pro Text;
font-size: 16px;
font-weight: 500;
color:#3B75F3;
border:none;
border-radius:8px;
border:1px solid #3B75F3;
padding:13px 33px;
background-color: #fff;
cursor:pointer;
margin-left:100px;
}
.cripto-btn:hover{
  background-color: #3B75F3;
  color:#fff;
  transition: 0.3s;
}

.start-cripto{
   color:#3B75F3;
font-family: SF Pro Text;
font-size: 16px;
font-weight: 500;
padding:13px 20px;
background-color: #fff;
border: none;
border:1px solid #3B75F3;
border-radius:8px;
margin-top:64px;
margin-left:40%;
cursor: pointer;

}
.start-cripto:hover{
    background-color: #3B75F3;
    color:#fff;
    transition: 0.3s;
}

@media (max-width:1000px){
    .cripto-none{
        display: none;
    }
    .cripto-table{
        width:80%;
    }
    
    td{
        border-bottom: none;
       padding-left:100px;
    }
    .cripto-text{
        padding-left:70px;
        font-size: 28px;
    }
    .start-cripto{
        font-size: 24px;
        margin-left:35%;
    }
    .cripto-text-style{
        font-size: 28px;
    }
}