*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
ul{
  margin-bottom: 0;
}
ul li {
    list-style-type: none;
}
a{
    text-decoration: none;
}

  
  /* font-1    inter */
  @font-face {
    font-family: Inter;
    src: url("../fonts/inter/static/Inter-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family:Inter;
    src: url("../fonts/inter/static/Inter-Medium.ttf");
    font-weight: 500;
  }
  
  @font-face {
    font-family: Inter;
    src: url("../fonts/inter/static/Inter-Bold.ttf");
    font-weight: 600;
  }
  
  @font-face {
    font-family: Inter;
    src: url("../fonts/inter/static/Inter-ExtraBold.ttf");
    font-weight: 900;
  }


  /* font-2   SF PRO */
  @font-face {
    font-family: SF Pro Text;
    src: url("../fonts/sfpro/SFProText-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: SF Pro Text;
    src: url("../fonts/sfpro/SFProText-Medium.ttf");
    font-weight: 500;
  }
  
  @font-face {
    font-family: SF Pro Text;
    src: url("../fonts/sfpro/SFProText-Semibold.ttf");
    font-weight: 600;
  }
  
  @font-face {
    font-family: SF Pro Text;
    src: url("../fonts/sfpro/SFProText-Bold.ttf");
    font-weight: 900;
  }

  .top-screen{
    position: relative;
  }
  .top-screen-line{
    width:100%;
    height:1px;
    background-color: #B9B9B9;
    position: absolute;
    top:80px;
}

  .container{
    max-width:1140px;
    margin:0 auto;
    padding:0px 50px;
  }


.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:14px 0px;
}
.nav__list{
    display:flex;
    align-items: center;
}

.nav__link{
    color: #131313;
    font-weight: 500;
    font-size: 16px;
    font-family:SF Pro Text;
    margin-left:70px;
}
.header__registr-btn{
    color:#8C8C8C;
    font-weight: 500;
    font-size: 16px;
    font-family:SF Pro Text;
    border:none;
    background-color: #fff;
    cursor:pointer;
}
.header__registr-btn-colored{
    color:#fff;
    background-color: #3B75F3;
    font-weight: 500;
    font-size: 16px;
    font-family: SF Pro Text;
    padding:13px 20px;
    border-radius:8px;
    border:none;
    margin-left:20px;
    cursor:pointer;
}

.promo{
  padding:20px 50px;
}
.top-screen-promo{
  background-image: url(../image/fon.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  padding:50px;
  border-radius:40px;
  overflow: hidden;
}

.promo__wrapper{
  display:flex;
  align-items: center;
}
.promo-title{
  color:#fff;
  font-family: SF Pro Text;
  font-size: 52px;
  font-weight: 600;
  text-align: left;
  margin-bottom:24px;
}
.promo-text{
font-family:SF Pro Text;
font-size: 18px;
font-weight: 400;
color:#fff;
text-align: left;
margin-bottom:40px;
}
.promo-btn{
font-family: SF Pro Text;
font-size: 16px;
font-weight: 500;
padding:13px 35px;
border:none;
border-radius:8px;
}

.item-width{
  width:448px;
}
.promo-block-top{
  background-image: linear-gradient(90.19deg, #AEDEF3 0.59%, #FFC1FD 99.84%);
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  display:flex;
  align-items: center;
}
.promo-block-top-text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}
.promo-top-text-bold{
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}
.promo__cart{
  background-color: #fff;
  padding:11px 20px 20px 20px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}
.promo-card-line{
  background-color:#F5F7FA;
  padding:4px;
  border-radius:8px;
}
.promo__item-line{
  display:flex;
  justify-content: space-between;
  border-radius:8px;
 
}
.promo-line-text{
  padding:9px 70px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
.promo-line-text.active{
  border:1px solid #3B75F3;
  color:#3B75F3;
  transition:0.3s;
  border-radius:8px;
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 500;
}


.give-block{
  display:flex;
}


/* dropdown */

.select{
  background-color: #fff;
}
.give-block{
  background-color: #F5F7FA;
  border-radius:14px;
  display: flex;
  justify-content: space-between;
  padding:10px;
}
.give-summ{
font-family: SF Pro Text;
font-size: 22px;
font-weight: 600;
color:#B9B9B9;
padding:22px 0px 22px 16px;
}
.menu__list{
  display:flex;
  padding:15px 9px;
  border-radius:10px;
}
.menu__item{
  margin:0px 8px;
}
.menu__item-sum-title{
  font-family: SF Pro Text;
  font-size: 22px;
  font-weight: 600;
  color:#1C1C1C;
  margin-bottom: 0;
}
.menu__item-sum-text{
font-family: SF Pro Text;
font-size: 14px;
font-weight: 400;
color:#8C8C8C;
margin-bottom: 0;
}
.dropdown-list-container{
  margin-left:70%;
  display:none;
}
.dropdown-list-container-opened{
  margin-left:70%;
  display:block;
}
.text-give{
font-family: SF Pro Text;
font-size: 16px;
font-weight: 500;
color:#131313;
margin:18px 0px 6px;
}
.get-text{
  text-transform: capitalize;
}
.give-text{
  text-transform: uppercase;
}
.promo-card-btn{
font-family: SF Pro Text;
font-size: 16px;
font-weight: 500;
color:#fff;
border:none;
border-radius:8px;
padding:13px 0px;
width:100%;
background-color:#3B75F3;
margin-top:18px;
}
.promo-card-give{
 position: relative;
}
.promo-card-give::after{
  position: absolute;
  content:url(../image/options.svg);
  bottom:-40px;
  left:43%;
  width:50px;
  height:50px;
  background-color: #DFE8F5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__nav{
  position: relative;
}
.nav-toggle{
  display: none;
  position: absolute;
  right: 120px;
  margin: 0 auto;
  width: 50px;
  height: 40px;
  cursor: pointer;
}

  .nav-toggle span {
      width: 100%;
      transition: .5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
      height: 4px;
      background:#3B75F3;
      position: absolute;
      border-radius: 10px;
      right: 0;
      left: 0;
      margin: 0 auto;
      transform: rotate(0);}

      .nav-toggle span:nth-child(1) {
          top: 7px;
          border-radius: 10px;
      }
      
      .nav-toggle span:nth-child(2) {
          top: 48%;
          width: 70%;
          border-radius: 10px;
      }
      .nav-toggle span:nth-child(3) {
        bottom:5%;
      }
      




@media(max-width:1200px){
 
  .promo-title{
    font-size: 36px;
  }
  .promo-text{
    font-size: 14px;
  }
  .item-width{
    width:366px;
  }
  .promo-line-text{
    padding:9px 40px;
  }
  .promo-block-top-text{
    margin-bottom:0px;
  }
  .promo-text{
    max-width:400px;
  }
}




 
@media (max-width:1035px) {
  .header{
    display: block;
  }
  .header-toggle-block{
    display:flex;
  }
  .isopen{
    display: block;
    height:100%;
    width:100%;
    position: fixed;
    z-index:50;
    right:0;
    padding-left:50px;
    overflow-y: auto;
    background: #fff;
    text-align: center;
  }
  .nav__list{
    display: none;
  }
  ul{
    padding-left:0;
  }
  .nav__list-open{
    display:flex;
    flex-direction: column;
    row-gap:30px;
    margin-top:60px;
    justify-content: center;
  }
  .nav__link{
    color:#3B75F3;
    margin-left:0;
  }
  .nav-toggle{
    display:block;
  }

  .header__registr{
    display:none;
  }
  .header__logo{
    margin-left:60px;
  }
}
@media(max-width:1020px){
 .promo__wrapper{
    display:block;
    padding:0px 50px;
  } 
  .promo-text{
    max-width:100%;
  }
   .promo-btn{
    margin-bottom: 50px;
    width: 100%;
    padding: 30px;
    font-size: 18px;
  }
  .item-width{
    width:100%;
  }
  .promo-btn{
    padding:15px 30px;
  }
  .promo-line-text{
    padding:9px 100px;
  }
  .menu__list{
    padding:15px 30px;
  }
}

@media(max-width:970px){
  .promo-line-text{
    padding:9px 70px;
  }
}
@media(max-width:860px){
  .promo__wrapper{
    padding:0px 30px;
  }
}
@media(max-width:800px){
  .top-screen-promo{
    padding:50px 30px;
  }
  .promo{
      padding:20px;
    }
}
@media(max-width:720px){
  .promo-line-text{
    padding:9px 50px;
  }
  .menu__list{
    padding:15px 10px;
  }
}
@media(max-width:700px){
  .promo{
    padding:20px 0px;
  }
  .header-container{
      margin:0 auto;
      padding:0;
  }
  .header__logo{
    margin-left:30px;
  }
  .nav-toggle{
    right:40px;
  }
  .promo-block-top img{
    display:none;
  }
  .promo-block-top{
    padding:6px 20px;
    justify-content: center;
  }
  .promo-block-top-text{
    margin:10px 0px;
    
  }
}
@media(max-width:500px){
  .promo__wrapper{
    padding:0px 10px;
  }
  .top-screen-promo{
    padding:50px 20px;
  }
  
}
@media(max-width:400px){
  .promo-line-text{
    padding:9px 30px;
  }
}







