*,
*::before,
*::after{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
ul{
  margin-bottom: 0;
}
ul li {
    list-style-type: none;
}
a{
    text-decoration: none;
}

  
  /* font-1    inter */
  @font-face {
    font-family: Inter;
    src: url("../fonts/inter/static/Inter-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family:Inter;
    src: url("../fonts/inter/static/Inter-Medium.ttf");
    font-weight: 500;
  }
  
  @font-face {
    font-family: Inter;
    src: url("../fonts/inter/static/Inter-Bold.ttf");
    font-weight: 600;
  }
  
  @font-face {
    font-family: Inter;
    src: url("../fonts/inter/static/Inter-ExtraBold.ttf");
    font-weight: 900;
  }


  /* font-2   SF PRO */
  @font-face {
    font-family: SF Pro Text;
    src: url("../fonts/sfpro/SFProText-Regular.ttf");
    font-weight: 400;
  }
  
  @font-face {
    font-family: SF Pro Text;
    src: url("../fonts/sfpro/SFProText-Medium.ttf");
    font-weight: 500;
  }
  
  @font-face {
    font-family: SF Pro Text;
    src: url("../fonts/sfpro/SFProText-Semibold.ttf");
    font-weight: 600;
  }
  
  @font-face {
    font-family: SF Pro Text;
    src: url("../fonts/sfpro/SFProText-Bold.ttf");
    font-weight: 900;
  }

  .top-screen{
    position: relative;
  }
  .top-screen-line{
    width:100%;
    height:1px;
    background-color: #B9B9B9;
    position: absolute;
    top:80px;
}

  .container{
    max-width:1140px;
    margin:0 auto;
    padding:0px 50px;
  }


.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:14px 0px;
}
.nav__list{
    display:flex;
    align-items: center;
}

.nav__link{
    color: #131313;
    font-weight: 500;
    font-size: 16px;
    font-family:SF Pro Text;
    margin-left:70px;
}
.header__registr-btn{
    color:#8C8C8C;
    font-weight: 500;
    font-size: 16px;
    font-family:SF Pro Text;
    border:none;
    background-color: #fff;
    cursor:pointer;
}
.header__registr-btn-colored{
    color:#fff;
    background-color: #3B75F3;
    font-weight: 500;
    font-size: 16px;
    font-family: SF Pro Text;
    padding:13px 20px;
    border-radius:8px;
    border:none;
    margin-left:20px;
    cursor:pointer;
}

.promo{
  padding:20px 0px;
}
.top-screen-promo{
  background-image: url(../image/fon.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
  padding:50px;
  border-radius:40px;
  overflow: hidden;
}

.promo__wrapper{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.text-item{
  width:450px;
}
.promo-title{
  color:#fff;
  font-family: SF Pro Text;
  font-size: 52px;
  font-weight: 600;
  text-align: left;
  margin-bottom:24px;
}
.promo-text{
font-family:SF Pro Text;
font-size: 18px;
font-weight: 400;
color:#fff;
text-align: left;
margin-bottom:40px;
}
.promo-btn{
font-family: SF Pro Text;
font-size: 16px;
font-weight: 500;
padding:13px 35px;
border:none;
border-radius:8px;
}

.item-width{
  width:448px;
}
.promo-block-top{
  background-image: linear-gradient(90.19deg, #AEDEF3 0.59%, #FFC1FD 99.84%);
  border-top-right-radius: 18px;
  border-top-left-radius: 18px;
  display:flex;
  align-items: center;
}
.promo-block-top-text{
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
}
.promo-top-text-bold{
  font-family: Inter;
  font-size: 14px;
  font-weight: 500;
}
.promo__cart{
  background-color: #fff;
  padding:11px 20px 20px 20px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
}
.promo-card-line{
  background-color:#F5F7FA;
  padding:4px;
  border-radius:8px;
  margin-bottom:18px;
}
.promo__item-line{
  display:flex;
  justify-content: space-between;
  border-radius:8px;
 
}
.promo-line-text{
  padding:9px 70px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
}
.promo-line-text.active{
  border:1px solid #3B75F3;
  color:#3B75F3;
  transition:0.3s;
  border-radius:8px;
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 500;
}

/* card input */

.promo-form-label{
font-family: SF Pro Text;
font-size: 16px;
font-weight: 500;
line-height: 19.09px;
text-align: left;
color:#131313;
margin-bottom:6px;
}
.input-group{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom:12px;
}
.input-form-number{
    width: 100%;
    background-color: #F5F7FA;
    border-radius: 14px !important;
    padding:20px;
    border: 1px solid transparent;
    outline:none;
    color:#1C1C1C;
    font-size: 22px;
    font-weight: 600;
    font-family: SF Pro Text;
    line-height: 26.25px;
    text-align: left;
}
.input-form-number::placeholder{
    color:#B9B9B9;
    font-size: 22px;
    font-weight: 600;
    font-family: SF Pro Text;
    line-height: 26.25px;
    text-align: left;
}
.calc-wrap{
    display: flex;
    align-items: center;
    gap: 8px;
    position: absolute;
    background-color: #fff;
    border-radius:10px !important;
    top: 5px;
    right: 5px;
    bottom: 5px;
    padding:14px 10px;
    cursor: pointer;
}
.calc-text{
  display:flex;
  flex-direction: column;
}

.calc-text b{
  font-family: SF Pro Text;
font-size: 22px;
font-weight: 600;
line-height: 24.64px;
text-align: left;
color:#1C1C1C;
}

.calc-text span{
font-family: SF Pro Text;
font-size: 14px;
font-weight: 400;
line-height: 16.71px;
text-align: left;
color:#8C8C8C;
}
.calc-text-uppercase{
  text-transform: uppercase;
}
/* .calc-text::after{
   content:'';
   display:block;
   width:24px;
   height:24px;
   background:url(../image/dropdown-arrow.svg) no-repeat 50%;
} */


/* calc -list */
.calc-list{
  display: none;
}
.calc-list-open{
    display:block;
    width: 100%;
    height:150px;
    background-color: #fff;
    border-radius: 15px !important;
    position: absolute;
    bottom: -150px;
    overflow: auto;
}
.calc-list-wrap{
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 10px;
  border-bottom: 1px solid #ddd
}
.calc-list-icon img{
  width:32px;
  height:32px;
}

.calc-list-text{
  display:flex;
  flex-direction: column;
}
.calc-list-text b{
  display:block;
  font-family: SF Pro Text;
  font-size: 16px;
  font-weight: 600;
  line-height: 24.64px;
  text-align: left;
  color:#1C1C1C;
}
.calc-list-text span{
  font-family: SF Pro Text;
font-size: 14px;
font-weight: 400;
line-height: 16.71px;
text-align: left;
color:#8C8C8C;
}
.calc-list:last-child{
  border-bottom:0;
}

.calc-list-wrap{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
    border-bottom: 1px solid #ddd
}
















/*card button*/
.promo-card-btn{
font-family: SF Pro Text;
font-size: 16px;
font-weight: 500;
color:#fff;
border:none;
border-radius:8px;
padding:13px 0px;
width:100%;
background-color:#3B75F3;
margin-top:18px;
}
.promo-card-give{
 position: relative;
}
.promo-card-give::after{
  position: absolute;
  content:url(../image/options.svg);
  bottom:-49px;
  left:43%;
  width:50px;
  height:50px;
  background-color: #DFE8F5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}




/* toggle */
.header__nav{
  position: relative;
}
.nav-toggle{
  display: none;
  position: absolute;
  right: 90px;
  margin: 0 auto;
  width: 50px;
  height: 40px;
  cursor: pointer;
}

  .nav-toggle span {
      width: 100%;
      transition: .5s all cubic-bezier(0.175, 0.885, 0.32, 1.275);
      height: 4px;
      background:#3B75F3;
      position: absolute;
      border-radius: 10px;
      right: 0;
      left: 0;
      margin: 0 auto;
      transform: rotate(0);}

      .nav-toggle span:nth-child(1) {
          top: 7px;
          border-radius: 10px;
      }
      
      .nav-toggle span:nth-child(2) {
          top: 48%;
          width: 70%;
          border-radius: 10px;
      }
      .nav-toggle span:nth-child(3) {
        bottom:5%;
      }
      




@media(max-width:1200px){
 
  .promo-title{
    font-size: 36px;
  }
  .promo-text{
    font-size: 14px;
  }
  .item-width{
    width:366px;
  }
  .promo-line-text{
    padding:9px 40px;
  }
  .promo-block-top-text{
    margin-bottom:0px;
  }
  .promo-text{
    max-width:400px;
  }
}




 
@media (max-width:1035px) {
  .header{
    display: block;
  }
  .header-toggle-block{
    display:flex;
  }
  .isopen{
    display: block;
    height:100%;
    width:100%;
    position: fixed;
    z-index:50;
    right:0;
    padding-left:50px;
    overflow-y: auto;
    background: #fff;
    text-align: center;
  }
  .nav__list{
    display: none;
  }
  ul{
    padding-left:0;
  }
  .nav__list-open{
    display:flex;
    flex-direction: column;
    row-gap:30px;
    margin-top:60px;
    justify-content: center;
  }
  .nav__link{
    color:#3B75F3;
    margin-left:0;
  }
  .nav-toggle{
    display:block;
  }

  .header__registr{
    display:none;
  }
  .header__logo{
    margin-left:30px;
  }
}
@media(max-width:1020px){
 
  .promo-text{
    max-width:80%;
  }
   .promo-btn{
    margin-bottom: 50px;
    font-size: 18px;
  }
  
  .menu__list{
    padding:15px 30px;
  }
}

@media(max-width:970px){
  .text-item{
    width:300px;
  }
}


@media(max-width:900px){
.item-width{
    width:300px;
  }
  .promo-line-text{
    padding:9px 30px;
  }
}

@media(max-width:866px){
  .promo__wrapper{
   flex-direction: column;
  }
  .item-width{
    width:80%;
  }
  .text-item{
    width:80%;
  }
  .promo-line-text{
    padding:9px 80px;
  }
  .calc-wrap{
    padding:14px 10px;
  }
  .promo-btn{
    width:100%;
  }
  .promo-text{
    max-width:100%;
  }
}

@media(max-width:800px){
  .top-screen-promo{
    padding:50px 30px;
  }
  .promo{
      padding:20px;
    }
    .promo-line-text{
      padding:9px 60px;
    }
}
@media(max-width:720px){
  .promo-line-text{
    padding:9px 50px;
  }
}
@media(max-width:700px){
  .promo{
    padding:20px 0px;
  }
  .header-container{
      margin:0 auto;
      padding:0;
  }
  .header__logo{
    margin-left:30px;
  }
  .isopen{
    padding-left:0;
  }
  .nav-toggle{
    right:40px;
  }
  .promo-block-top img{
    display:none;
  }
  .promo-block-top{
    padding:6px 20px;
    justify-content: center;
  }
  .promo-block-top-text{
    margin:10px 0px;
    
  }
  .promo-line-text{
    padding:9px 70px;
  }
}
@media(max-width:620px){
  .promo-line-text{
    padding:9px 50px;
  }
}


@media(max-width:520px){
  .top-screen-promo{
    padding:50px 0px;
  }
}

@media(max-width:470px){
  .promo-line-text{
    padding:9px 40px;
  }
  .input-form-number{
    font-size:14px;
  }
}
@media(max-width:420px){
  .promo-line-text{
    padding:9px 30px;
  }
}
@media(max-width:360px){
  .promo-line-text{
    padding:9px 25px;
  }
}








