.news{
    background-image: url(../image/news-fon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding:130px 0px 102px;
     border-radius:50px;
     position: relative;
}

.news-title{
    font-family: SF Pro Text;
font-size: 70px;
font-weight: 500;
text-align: center;
color:#fff;
max-width:800px;
margin:0 auto;

}
.news::before{
    position: absolute;
    content: url(../image/news-img-1.svg);
    top:5%;
    left:8%;
   
}
.news::after{
    position: absolute;
    content: url(../image/news-img-2.svg);
    top:20%;
    right:8%;
}
.news-title-colored{
    background-image: linear-gradient(93.01deg, #3B75F3 -3.82%, #B0C9FF 35.02%);
    background-clip: text;
    color:transparent;
}
.news-subtitle{
font-family: SF Pro Text;
font-size: 40px;
font-weight: 600;
color:#fff;
text-align: center;
margin-top:160px;
margin-bottom: 33px;
}
.news-block{
    padding:20px;
    border-radius:24px;
    background-color: #fff;
}

.news__wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap:20px;
}
.news-block-title{
font-family: SF Pro Text;
font-size: 20px;
font-weight: 600;
color:#0F0F0F;
margin:10px 0px;
}
.news-block-text{
font-family: SF Pro Text;
font-size: 16px;
font-weight: 400;
color: #686868;

}
.news-btn{
    color:#fff;
    border:none;
    border:1px solid #fff;
    padding:13px 23px;
    background-color: #0F0F0F;
    border-radius:8px;
    margin-top:37px;
    margin-left:43%;
    cursor:pointer;
}
.news-btn:hover{
    background-color: #fff;
    color:#0F0F0F;
    transition: 0.3s;
}
.news-btn-arrow{
    display: inline-block;
    margin-left:10px;
}
@media(max-width:1400px){
    .news::before{
        top:5%;
        left:5%;
       
    }
    .news::after{
        top:20%;
        right:3%;
    }
}
@media(max-width:1300px){
    .news::before{
        top:5%;
        left:0;
       
    }
    .news::after{
        top:20%;
        right:0;
    }
}
@media(max-width:1200px){
    .news-title{
        font-size: 50px;
    }
    .news__wrapper{
        padding:0px 30px;
        grid-template-columns: 1fr 1fr;
        width:367px;
        grid-column-gap:90px;
        grid-row-gap:50px;
        margin-left:20px;
    }
    
}
@media(max-width:1100px){
    .news-title{
        margin-top:100px;
    }
    .news-subtitle{
        margin-top:100px;
    }
    .news::before{
        top:5%;
        left:-5%;
       
    }
    .news::after{
        top:10%;
        right:0;
    }
    .news__wrapper{
        padding:0px 30px;
        grid-template-columns:1fr;
        width:100%;
        grid-row-gap:50px;
        margin-left:0;
    }
    .news-block-img{
        width:100%;
    }
    .news-block-title{
        font-size: 36px;
    }
    .news-block-text{
        font-size: 24px;
    }
    .news-btn{
        font-size: 24px;
        margin-left: 40%;
    }
}
