.slider{
    padding:90px 0px 162px;
}

.slick-arrow.slick-prev{
    left:45px !important;
}
.slick-next{
    right:45px !important;
}
.container-slider{
    max-width:1140px;
    margin:0 auto;
    padding:0px 20px;
  }


    .slick-slide img{
        width:90%;
    }
@media(max-width:470px){
    .slick-slide img{
        width:95%;
    }
    .slick-container{
        padding-right:0 !important;
    }
}